{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Recent Feedback</h1>
{% for feedback in feedbacks %}
<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title">{{feedback.title}}</h5>
        <p class="card-text">{{feedback.content}}</p>
        <p class="card-subtitle mb-2 text-muted">Posted by: 
            <a href="/users/{{feedback.user.username}}">{{feedback.user.username}}</a>
        </p>        
    </div>
</div>
{% endfor %}
{% endblock %}